# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ban_chuoi\doanwebbanchuoi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
